@model IEnumerable<CongNo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}

<div class="table">
    <form asp-controller="CongNo" asp-action="ThemCN" method="post"><button type="submit" class="btn btn-info btn-sm format-button button">Thêm</button></form>
    <form class="search-form" asp-controller="CongNo" asp-action="Search" method="post">

        <input type="search" class="form-control form-timkiem" placeholder="Nhập" name="str" />
        <button type="submit" class="btn btn-info btn-sm format-button button btn-search" data-toggle="modal">
            @*<i class="fa fa-search"></i>*@
            Tìm
        </button>

    </form>
    <table class="table table-bordered table-hover table-loaiveso-noidung">
        <tr style="background-color:#abebe2">
            <th>Mã công nợ</th>
            <th>Mã đại lý</th>
            <th>Ngày</th>
            <th>Số tiền</th>
            <th>Hoa hồng</th>
            <th>Tổng tiền</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaCn</td>
                <td class="madl">@item.MaDl</td>
                <td>@item.Ngay</td>
                <td>@item.SoTien</td>
                <td>@item.HoaHong</td>
                <td class="tongtien">@item.TongTien</td>
                <td><button type="button" class="btn btn-info btn-sm format-button btnThem" data-toggle="modal" data-target="#Them">Thêm phiếu thu</button></td>
            </tr>
        }
    </table>
    <form asp-action="ThemPT" asp-controller="CongNo" method="post">
        <div id="Them" class="modal fade" role="dialog">
            <div class="modal-dialog">

                 Modal content
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="usr">Mã đại lý</label>
                            <input type="text" class="form-control" id="aMa" name="add_Madl" required />
                        </div>
                        <div class="form-group">
                            <label for="usr">Ngày:</label>
                            <input type="date" class="form-control" id="aNgay" name="add_Ngay" required />
                        </div>
                        <div class="form-group">
                            <label for="usr">Số Tiền:</label>
                            <input type="text" class="form-control" id="aTien" name="add_Tien" required />
                        </div>
                        <div class="form-group">
                            <label for="usr">Đã trả:</label>
                            <input type="text" class="form-control" id="aDaTra" name="add_DaTra" required />
                        </div>
                        @*<div class="form-group">
                            <label for="usr">Còn lại:</label>
                            <input type="text" class="form-control" id="aConLai" name="add_ConLai" required />
                        </div>*@
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/css/table.css" rel="stylesheet" />
<script>
    $(function () {
        $(".btnThem").click(function () {
            var pMa = $(this).closest('tr').find('.madl').text();
            var pSoTien = $(this).closest('tr').find('.tongtien').text();
            $("#aMa").val(pMa.trim());
            $("#aTien").val(pSoTien.trim());
        });
    });
</script>
