@model IEnumerable<CongNo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}

<div class="table">
    <form asp-controller="CongNo" asp-action="ThemCN" method="post"><button type="submit" class="btn btn-info btn-sm format-button button">Thêm</button></form>
    <form class="search-form" asp-controller="CongNo" asp-action="Search" method="post">

        <input type="search" class="form-control form-timkiem" placeholder="Nhập" name="str" />
        <button type="submit" class="btn btn-info btn-sm format-button button btn-search" data-toggle="modal">
            @*<i class="fa fa-search"></i>*@
            Tìm
        </button>

    </form>
    <table class="table table-bordered table-hover table-loaiveso-noidung">
        <tr style="background-color:#abebe2">
            <th>Mã công nợ</th>
            <th>Tên đại lý</th>
            <th>Ngày</th>
            <th>Số tiền</th>
            <th>Hoa hồng</th>
            <th>Tổng tiền</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaCn</td>
                <td>@item.MaDlNavigation.Ten</td>
                <td>@item.Ngay</td>
                <td>@item.SoTien</td>
                <td>@item.HoaHong</td>
                <td>@item.TongTien</td>
            </tr>
        }
    </table>
    @*<form asp-action="ThemCN" asp-controller="CongNo" method="post">
        <div id="Them" class="modal fade" role="dialog">
            <div class="modal-dialog">

                 Modal content
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="usr">Tên đại lý</label>
                            <select class="form-control" id="tt" name="daily">
                                @foreach (var item in ViewBag.DaiLy)
                                {
                                    <option value="@item.MaDl">@item.Ten</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="usr">Ngày:</label>
                            <input type="date" class="form-control" id="Ngay" name="Ngay" required />
                        </div>
                        <div class="form-group">
                            <label for="usr">Số Tiền:</label>
                            <input type="text" class="form-control" id="Tien" name="tien" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>*@

    @*<form asp-action="Sua" asp-controller="PhieuThu" method="post">
        <div id="Sua" class="modal fade" role="dialog">
            <div class="modal-dialog">

                 Modal content
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sửa</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="usr">Mã:</label>
                            <input type="text" class="form-control" id="ided" name="maed" readonly />
                        </div>
                        <div class="form-group">
                            <label for="usr">Đại Lý</label>
                            <select class="form-control" id="edtt" name="eddaily">
                                @foreach (var iteam in ViewBag.DaiLy)
                                {
                                    <option value="@iteam.MaDl"> @iteam.Ten</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="usr">Ngày:</label>
                            <input type="text" class="form-control" id="ngay" name="edngay" required />
                        </div>
                        <div class="form-group">
                            <label for="usr">Số Tiền:</label>
                            <input type="text" class="form-control" id="tien" name="edtien" required />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>*@
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/css/table.css" rel="stylesheet" />

