@model PhieuThu
@{
    ViewData["Title"] = "suaPT";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}
@ViewBag.maPT
<h2>Sửa Phiếu Thu</h2>

<div class="table">
    <form asp-action="SuaThieuThu" asp-controller="phieuthu" method="post">
        <table class="table table-bordered table-hover table-loaiveso-noidung">
            <tr style="background-color:#abebe2">
                <th> Ngày</th>
                <th> Đại Lý</th>
                <th>Số Tiền</th>
            </tr>
            <tr>
                <input value="@Model.MaPt" hidden name="id"/>
                <td> <input type="date" class="test" name="ngay" value="@Model.Ngay.Value.ToString("yyyy-MM-dd")"  /></td>
                <td>
                    <select name="daily">
                        @foreach (var iteam in ViewData["dsDL"] as IList<DaiLy>)
                        {
                            @if (iteam.MaDl == Model.MaDl)
                            {
                                <option selected value="@Html.ValueFor(modelIteam => iteam.MaDl)"> @Html.DisplayFor(modelIteam => iteam.Ten)</option>
                            }
                            else
                            {
                                <option  value="@Html.ValueFor(modelIteam => iteam.MaDl)"> @Html.DisplayFor(modelIteam => iteam.Ten)</option>
                            }
                        }
                    </select>
                </td>
                <td> <input type="text" name="tien" value=" @Model.SoTien" /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-controller="PhieuThu" asp-action="phieuthu"><button type="button" class="btn btn-warning">Close</button></a>
                </td>
            </tr>
        </table>
        
    </form>
</div>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/css/table.css" rel="stylesheet" />