@model IEnumerable<DaiLy>
@{
    ViewData["Title"] = "DaiLy";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}

<h2>ĐẠI LÝ</h2>
<div class="table">
    <button type="button" class="btn btn-info btn-sm format-button button" data-toggle="modal" data-target="#Them">Thêm</button>
    <form class="search-form" asp-controller="QuanLi" asp-action="TimKiemVS">

        <input type="text" class="form-control form-timkiem" placeholder="Tìm kiếm" id="search" name="search" />
        <button type="submit" class="btn btn-info btn-sm format-button button btn-search">
            @*<i class="fa fa-search"></i>*@
            Tìm
        </button>
    </form>
    <table class="table table-bordered table-hover table-loaiveso-noidung">
        <tr style="background-color:#abebe2">
            <th>Mã đại lý</th>
            <th>Tên đại lý</th>
            <th>Địa chỉ</th>
            <th>Điện thoại</th>
            <th>Tình trạng</th>
            <th>Số lượng đăng ký</th>
            <th style="width: 50px;"></th>
            <th style="width: 50px;"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="id">
                    @Html.DisplayFor(modelItem => item.MaDl)
                </td>
                <td class="ten">
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td class="diachi">
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td class="dienthoai">
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td class="tinhtrang">
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm format-button btnThongTin" data-toggle="modal" data-target="#thongtin">Thông tin</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-sm format-button btnThemSL" data-toggle="modal" data-target="#modal-themsldk">Đăng ký</button>
                </td>
                <td>
                    <button type="button" class="btn btn-info btn-sm format-button btnSua" data-toggle="modal" data-target="#Sua">Sửa</button>
                </td>
            </tr>

        }

    </table>
    <!-- Modal Them -->
    <form asp-action="ThemDL" asp-controller="QuanLi" method="post">
        <div id="Them" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm</h4>
                    </div>
                    <div class="modal-body">
                        @*<div class="form-group">
                                <label for="usr">Mã đại lý:</label>
                                <input type="text" class="form-control" id="id" readonly>
                            </div>*@
                        <div class="form-group">
                            <label for="usr">Tên:</label>
                            <input type="text" class="form-control" id="ten" name="Ten" required>
                        </div>
                        <div class="form-group">
                            <label for="usr">Địa chỉ:</label>
                            <input type="text" class="form-control" id="diachi" name="DiaChi" required>
                        </div>
                        <div class="form-group">
                            <label for="usr">Điện thoại:</label>
                            <input type="text" class="form-control" id="dienthoai" name="DienThoai">
                        </div>
                        <div class="form-group">
                            <label for="usr">Tình trạng</label>
                            <select class="form-control" id="tt" name="TinhTrang" required>
                                <option value="Khoá">Khoá</option>
                                <option value="Không Khoá">Không khoá</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <!-- Modal Sua-->
    <form asp-action="SuaDL" asp-controller="QuanLi" method="post">
        <div id="Sua" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="usr">Mã đại lý:</label>
                            <input type="text" class="form-control edid" id="id" name="edmadl" readonly>
                        </div>
                        <div class="form-group">
                            <label for="usr">Tên:</label>
                            <input type="text" class="form-control edten" id="ten" name="edten">
                        </div>
                        <div class="form-group">
                            <label for="usr">Địa chỉ:</label>
                            <input type="text" class="form-control eddc" id="diachi" name="eddiachi">
                        </div>
                        <div class="form-group">
                            <label for="usr">Điện thoại:</label>
                            <input type="text" class="form-control eddt" id="dienthoai" name="eddienthoai">
                        </div>
                        <div class="form-group">
                            <label for="usr">Tình trạng</label>
                            <select class="form-control" id="tt" name="edtt">
                                <option value="Khoá">Khoá</option>
                                <option value="Không Khoá">Không khoá</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
    @*modal thong tin dang ky*@
    <div id="thongtin" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông tin đăng ký</h4>
                </div>
                <div class="modal-body" id="body-thongtin">
                    @*<div class="form-group">
                            <label for="usr">Mã đại lý:</label>
                            <input type="text" class="form-control edid" id="id" name="edmadl" readonly>
                        </div>
                        <div class="form-group">
                            <label for="usr">Tên:</label>
                            <input type="text" class="form-control edten" id="ten" name="edten">
                        </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
    @*modal them dang ky*@
    <form asp-controller="QuanLi" asp-action="ThemSLDK" method="post">
        <div id="modal-themsldk" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm đăng ký</h4>
                    </div>

                    <div class="modal-body" id="modal-themdangky">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-success">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/css/table.css" rel="stylesheet" />
    @*<link href="~/css/style2.css" rel="stylesheet" />*@
    <script>
        $(function () {
            $(".btnThongTin").click(function () {
                let madl = $(this).closest('tr').find('.id').text();
                $.ajax({
                    url: "/QuanLi/ThongTinDK",
                    type: "get",
                    data: { "id": madl },
                    success: function (data) {
                        $("#body-thongtin").html(data);
                    },
                    error: function (data) {
                        alert("Error: " + data);
                    }
                });
            });
            $(".btnSua").click(function () {
                var Ma = $(this).closest('tr').find('.id').text();
                var Ten = $(this).closest('tr').find('.ten').text();
                var DiaChi = $(this).closest('tr').find('.diachi').text();
                var DienThoai = $(this).closest('tr').find('.dienthoai').text();

                $(".edid").val(Ma.trim());
                $(".edten").val(Ten.trim());
                $(".eddc").val(DiaChi.trim());
                $(".eddt").val(DienThoai.trim());
            });
            $(".btnThemSL").click(function () {
                let ma = $(this).closest('tr').find('.id').text();
                $.ajax({
                    url: "/QuanLi/ModalSLDK",
                    type: "post",
                    data: { "ma": ma },
                    success: function (data) {
                        $("#modal-themdangky").html(data);
                    },
                    error: function (data) {
                        alert("Error: " + data);
                    }
                });
            });
        })
        
    </script>

